{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Train</title>
    <link rel="stylesheet" href="{% static 'train/style.css' %}"/>
</head>
<body>
    <h1>TRAIN EN GARE</h1>
    <h2> {{ title }}</h2>

    <div class="square-content-Nantes">
        <h2>Train Nantes</h2>
    <ul>
        <li class="tgv">TGV</li>
        <li class="ouigo">ouigo</li>
        <li class="Firstclass">Firstclass</li>
    </ul>
    </div>

    <div class="square-content-Marseille">
        <h2>Train Marseille</h2>
    <ul>
        <li class="tgv">tgv</li>
        <li class="ouigo">ouigo</li>
        <li class="Firstclass">Firstclass</li>
    </ul>
    </div>

    <div class="square-content-Paris">
        <h2>Train Paris</h2>
    <ul>
        <li class="tgv">tgv</li>
        <li class="ouigo">ouigo</li>
        <li class="Firstclass">Firstclass</li>
    </ul>
    </div>

    <div class="square-content-Montpellier">
        <h2>TRAIN Montpellier</h2>
    <ul>
        <li class="tgv">tgv</li>
        <li class="ouigo">ouigo</li>
        <li class="Firstclass">Firstclass</li>
    </ul>
    </div>
</body>
</html>